<div fxLayout="row">
    <div fxFlex.gt-sm="40%" fxFlex.gt-xs="60%" fxFlex style="margin: 0 auto;">
        <br /><br />

        <mat-card class="mat-elevation-z3">
            <mat-card-title>
                <img src="/assets/images/not-found-image.png" class="not-found" />
            </mat-card-title>
            <mat-card-content>
                Oops! The requested page could not be found.
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button routerLink="/" color="primary">Return home</button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>