<div fxLayout="row wrap">
    <div fxFlex.gt-sm="70%" fxFlex.gt-xs="95%" fxFlex style="margin: 0 auto;">
        <br />

        <mat-card>
            <mat-card-content>
                <div fxLayout="column">
                    <h1>Contact Us</h1>
                </div>

                <div fxLayout="row wrap">
                    <div fxFlex>
                        <mat-card class="mat-elevation-z0">
                            <mat-card-title class="card-title-icon">
                                <mat-icon color="primary">navigation</mat-icon>
                            </mat-card-title>
                            <br />

                            <mat-card-content>
                                <p>
                                    505 Main Street
                                </p>
                                <p>
                                    Omaha, Nebraska
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div fxFlex>
                        <mat-card class="mat-elevation-z0">
                            <mat-card-title class="card-title-icon">
                                <mat-icon color="primary">phone</mat-icon>
                            </mat-card-title>
                            <br />

                            <mat-card-content>
                                <p>
                                    Direct: 555-555-5555
                                </p>
                                <p>
                                    Toll-Free: 1-888-555-5555
                                </p>
                                <p>
                                    Fax: 555-555-5555
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <br /><br /><br />

                <div fxLayout="column">
                    <p class="contact-footnote">
                        Visit us online or at one of our many great locations throughout the Omaha metro area.
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>