<div fxLayout="row wrap">
    <div fxFlex.gt-sm="70%" fxFlex.gt-xs="95%" fxFlex style="margin: 0 auto;">
        <br />

        <mat-card>
            <mat-card-title>
                <h1 class="">About nodebucket Project</h1>
            </mat-card-title>

            <mat-card-content>
                <br />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum non tellus non ultrices. Aliquam blandit mauris vitae ipsum
                    egestas, quis convallis mi mattis. Quisque fermentum diam massa, non cursus nisi porta ut. Quisque mattis fringilla porttitor. Aliquam est
                    lorem, pharetra in facilisis a, cursus id mauris. Maecenas consequat dictum urna, ut elementum enim tincidunt at. Quisque sed semper augue.
                    Nullam cursus odio ante, vitae interdum metus mollis in. Integer vel odio arcu. Quisque vestibulum nibh sed est imperdiet, et vestibulum est
                    tincidunt. Sed quis urna mi. Vivamus suscipit placerat gravida.
                </p>
                <p>
                    Donec commodo sem sed vulputate imperdiet. Nullam eu justo et tellus feugiat scelerisque. Donec dignissim scelerisque lectus sed consequat.
                    Praesent vel orci libero. Mauris tincidunt purus tempor ornare rhoncus. Mauris pharetra erat nec libero finibus, quis semper risus volutpat.
                    Donec condimentum commodo arcu, eget convallis nibh sollicitudin a. Vivamus lacinia pretium nibh, id aliquam urna blandit eu. Etiam
                    consequat ligula sed mi ultricies sagittis eu sit amet mi. Ut at sodales sem. Duis porta finibus egestas. Pellentesque in massa metus.
                    Pellentesque porttitor condimentum finibus.
                </p>
                <p>
                    Proin vel ante lacinia, luctus felis ut, efficitur elit. Nulla dignissim lectus tellus, sed laoreet orci scelerisque eu. Ut eu diam ipsum.
                    Quisque sed congue sem. Pellentesque pharetra dui mauris, sed suscipit turpis ullamcorper quis. Integer quis ante placerat, sollicitudin
                    enim sit amet, euismod mauris. Nullam ante lorem, tempor nec vestibulum ac, dapibus eget velit. In hac habitasse platea dictumst. In
                    malesuada imperdiet convallis. Suspendisse potenti. Aliquam finibus quam sed cursus lacinia. Donec gravida neque.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>