<header>
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar color="primary" class="mat-elevation-z1">
      <button mat-button routerLink="/">nodebucket</button>
      <button mat-button routerLink="/about">About</button>
      <button mat-button routerLink="/contact">Contact Us</button>

      <div fxFlex></div>

      <!-- start of Menu (https://material.angular.io/components/menu) -->
      <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User profile menu">
        <mat-icon>perm_identity</mat-icon>
      </button>

      <mat-menu #profileMenu>
        <p class="profile-menu-label">Logged in as {{ sessionName }}</p>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
      <!-- end of Menu -->
    </mat-toolbar>
  </nav>
</header>

<!-- main content -->
<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<footer>
  <mat-toolbar class="mat-elevation-z1">
    <div fxFlex></div>
    <span>
      &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu" target="_blank">Bellevue University</a>
      <!-- &copy; 2022-{{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu" target="_blank">Bellevue University</a> -->
    </span>
  </mat-toolbar>
</footer>