<header>
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar style="border-bottom: 15px solid #D6A800; height: 100px;" color="primary">
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button mat-button class="logo" routerLink="/">nodebucket</button>
        <button mat-button class="navbar-link">About</button>
        <button mat-button class="navbar-link">Contact Us</button>
      </div>

      <div fxFlex></div>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User profile menu">
          <mat-icon>perm_identity</mat-icon>
        </button>

        <!-- https://material.angular.io/components/menu -->
        <mat-menu #profileMenu>
          <p style="padding: 10px; font-size: 16px; font-weight: lighter;">Logged in as {{ sessionName }}</p>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </div>

    </mat-toolbar>
  </nav>
</header>

<!-- main content -->
<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<footer>
  <mat-toolbar class="footer-content">
    <div fxFlex></div>
    <p>
      &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
    </p>
  </mat-toolbar>
</footer>