header mat-toolbar {
  height: 6rem;
  border-bottom: 0.5rem solid #d6a800;
}

header button[routerLink] {
  font-size: 24px;
  font-weight: lighter;
}
header button[routerLink]:first-of-type {
  margin-left: 75px;
}

.profile-menu-label {
  padding: 10px;
  font-size: 16px;
  font-weight: lighter;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer mat-toolbar {
  height: auto;
  min-height: 3rem;
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
  text-align: right;
}

footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
