// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
// http://mcg.mbitson.com

$md-ravenclaw-blue: (
  50: #e4e6eb,
  100: #bdc1ce,
  200: #9197ad,
  300: #646d8c,
  400: #434e74,
  500: #222f5b,
  600: #1e2a53,
  700: #192349,
  800: #141d40,
  900: #0c122f,
  A100: #6b80ff,
  A200: #3855ff,
  A400: #0529ff,
  A700: #0022eb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-ravenclaw-dark-blue: (
  50: #e2e4e8,
  100: #b7bac6,
  200: #878da0,
  300: #565f79,
  400: #323c5d,
  500: #0e1a40,
  600: #0c173a,
  700: #0a1332,
  800: #080f2a,
  900: #04081c,
  A100: #5a6fff,
  A200: #2742ff,
  A400: #001ef3,
  A700: #001bda,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-ravenclaw-grey-lady: (
  50: #f7f7f7,
  100: #ececec,
  200: #dfdfdf,
  300: #d2d2d2,
  400: #c8c8c8,
  500: #bebebe,
  600: #b8b8b8,
  700: #afafaf,
  800: #a7a7a7,
  900: #999999,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffd6d6,
  A700: #ffbdbd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-ravenclaw-gold: (
  50: #f2ede6,
  100: #dfd3c0,
  200: #cab596,
  300: #b4976c,
  400: #a4814d,
  500: #946b2d,
  600: #8c6328,
  700: #815822,
  800: #774e1c,
  900: #653c11,
  A100: #ffca9b,
  A200: #ffaf68,
  A400: #ff9535,
  A700: #ff871b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
